// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  a {
    &.active {
      color: black;
    }
    &:hover {
      text-decoration: none;
      color: black;
    }

    div {
      border: 1px black solid;
    }
  }

  div.main {
    margin-top: 200px;
    background-color: #f9f8f6
  }
}
