<div class="container-fluid row row-vertical-center header">
    <a href="#" class="logo">
      <%= image_tag "wealthsimple_logo.svg" %>
    </a>
    <nav class="block-md">
      <ul class="row row-align-right row-align-center">
      <li>
        <a href="#">The Details</a>
      </li>
      <li>
        <a href="#" class="current">Magainze</a>
      </li>
      <li>
        <a href="#">Sign in</a>
      </li>
      <li>
        <a href="#" class="btn">Start investing</a>
      </li>
    </ul>
    </nav>
</div>